body {
    background-color: rgba(80, 69, 69, 0.038);
	text-align: center;
	color: lightgray;
    
}


.cell {
	border: 3px solid lightgray;
	width: 40px;
	height: 40px;
	font-size: 1.5em;
	block-size: 40px;
}



