body {
    background-color: rgba(61, 55, 55, 0.038);
	text-align: center;
	color: rgb(103, 16, 16);
	text-shadow: 1px 1px 2px pink; 
	justify-content: center;

}

div{
	color: rgb(227, 89, 133);

}
.hidden{
	border: 3px solid lightgray;;
	visibility: hidden;
}
button{
	border-radius: 30px;
	transition: 5sx;
	margin: 2px;
}
.safe-click{
	background-color: rgb(38, 152, 222);
}
.cell {
	text-align: center;
	border: 3px solid lightgray;
	width: 15px;
	height: 15px;
	font-size: 1em;
	block-size: 15px;
	background-color: rgb(189, 181, 181);
	overflow: hidden;
	text-overflow: ellipsis;

}

.stylecell{
	text-align: center;
	border: 3px solid lightgray;
	width: 15px;
	height: 15px;
	font-size: 1em;
	block-size: 15px;
	background-color: rgb(98, 90, 90)
}
.stylemine{
	text-align: center;
	width: 15px;
	height: 15px;
	font-size: 1em;
	block-size: 15px;
	background-color: rgb(217, 19, 19)
}

.board-container{
    text-align: center;
	color: antiquewhite;
}

.victory{
	visibility:hidden;
}
 td:hover{
	border: 0.2px solid transparent;
 }


